body {
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  width: 150px;
  margin: 20px auto;
}

.square {
  width: 50px;
  height: 50px;
  float: left;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* pentru a goli float-urile la fiecare rand */
.row::after {
  content: "";
  display: table;
  clear: both;
}
