body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 16px;
}

.header {
  background-color: antiquewhite;
  width: 100%;
  height: 15%;
}

.content {
  display: flex;
  width: 100%;
  height: 70%;
}

.content > .content-sidebar {
  display: flex;
  flex-direction: column;
  background-color: darkolivegreen;
  width: 15%;
}

.content > .content-pane {
  background-color: darkkhaki;
  width: 85%;
}

.sidebar-item {
  height: 32px;
  background-color: olivedrab;
  border-bottom: 1px solid black;
}

.footer {
  background-color: antiquewhite;
  height: 15%;
  width: 100%;
}
