ti* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 45px;
  padding: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  display: flex;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 300px;
  margin: 8px;
}
